:root {
    --light-doctor-table: #ffffff;
    --dark-doctor-table: #171717;

    --light-doctor-table-border: #999;
    --dark-doctor-table-border: #333;

    --error: #c91818;
}

[data-theme='light'] {
    --table-bg: var(--light-doctor-table);
    --table-fg: var(--dark-doctor-table);

    --border-color-table: var(--light-doctor-table-border);
}

[data-theme='dark'] {
    --table-bg: var(--dark-doctor-table);
    --table-fg: var(--light-doctor-table);

    --border-color-table: var(--dark-doctor-table-border);
}

.doctor-table-container {
    margin: 5% 1%;
    flex: 1;
}

.doctor-table-container table {
    margin: auto;
    width: 100%;
    overflow: hidden;
    background-color: var(--table-bg);
    border-radius: 10px;
    position: relative;
    border-collapse: collapse;
    z-index: 1;
    color: var(--table-fg);
    white-space: nowrap;
}

.doctor-image {
    width: 50px;
    height: auto; 
    border-radius: 50%;
}

.doctor-table-container th,
.doctor-table-container td {
    padding: 1rem;
    gap: 10px;
    position: relative;
    cursor: default;
}

.doctor-table-container th {
    text-transform: uppercase;
}

.doctor-table-container tr td {
    text-align: center;
}

.doctor-table-container tr,
.doctor-table-container th {
    border-bottom: 1px solid var(--border-color-table);
}

.doctor-table-container tr:last-child {
    border-bottom: none;
}

.active {
    color: var(--accent);
    font-weight: bold;
}

.inactive {
    color: var(--error);
    font-weight: bold;
}

.button-approve-style,
.button-cancel-style,
.button-reschedule-style,
.disabled-button-approve-style {
    border-radius: 30px;
    padding: 10px 18px 10px 18px;
    border: none;
    color: #ffffff;
    font-weight: 600;
    margin-right: 5px;
    transition: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
}

.button-approve-style {
    background-color: var(--accent);
}

.button-cancel-style {
    background-color: var(--error);
}

.button-reschedule-style {
    background-color: #1c2fd2;
}